<div class= "container text-center">
  <h1>About us</h1>
  <p>We are Dev MatchUp. Our company focusses on creating an exclusive community
  where enterpreneurs and developers can meet to create value.</p>
</div>